.container {
    max-width: 800px;
    margin: auto;
}

.event-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.event-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.event-details {
    text-align: center;
}

.btn {
    margin: 5px 0;
}

.flash {
    animation: flashAnimation 0.3s ease-in-out;
}

@keyframes flashAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}